<html>

<head>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/normalize.css">
    <!--<link rel="stylesheet" href="{{.Site.BaseURL}}css/grid.css">
    Her indsættes link til grid system - den man downloader fra flexboxgrid.com -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/flexboxgrid.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/jquery.modal.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans" rel="stylesheet">
</head>

<body>

    <div>
        <div class="button_container" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
    </div>

    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="" onclick="closeNav()"></a>
                    {{ $currentPage := . }} {{ range .Site.Menus.main }}

                    <a href="{{.URL}}">{{.Title}}</a> {{ end }}
                </li>
            </ul>
        </nav>
    </div>
